body{
background-color: black;
font-family: arial;
color: white;

}

h1.mosterd{
font-family: arial;
color: yellow;
}

img{
border: solid 1px white;
}

h2{
color: lightblue;
}

ul{
margin-left: 3px;
}